body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h2{
    font-size: 40px;
}
section{
    margin: 50px 0;
}
.common-section{
    margin: 50px 0;
    display: flex;
}
.top-section{
    margin: 0px 50px 0px 0px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
    padding-left: 5%;
}
.half-width h2{
    color:#575757;
    margin:22px 0;
}
.special-col{
    color:#FB934A;
    font-weight: bolder;
}
.contex-first{
    margin: 125px 0 0 0;
    font-weight: bold;
}
.contex-first p{
    text-align: left;
}
.half-width p{
    color: #A1A1A1;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 17px;
}
.order-now{
    color: #fff;
    background-image: linear-gradient(#FB934A,#FD5232);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px #FB934A;
}
.top-menu{
    display: flex;
    margin: 5px;
}
.menu ul li{
    list-style: none;
    display: inline;
    
}
.menu ul li a{
    text-decoration: none;
    color: #575757;
    padding: 20px;
    transition: 0.5s;
}
.menu ul li a:hover{
     color: #fff;
    transition: 1s;
    background-image: linear-gradient(#FC8F49,#FD5232);
    border-radius: 50px;
}
#menu{
    float: right;
    width: 50%;
    margin: 20px;
}
.logo{
    width: 50%;
}
.logo img{
    height: 90px;
    width: 100px;
    
}
.logo-menu{
    margin-left: 50px;
}
.menu{
    margin-left: 200px
}
.first-sec-image{
    padding: 0 0 0 25% !important;
}
#about-me{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-image{
    margin: 0px auto;

}
.about-image img{
    padding: 0;
    width: 65%;
    padding: 28%;
}
.about-contex{
    margin: 150px;
}
.about-contex h2{
    margin-bottom: 50px;
    color:#707070;

}
.about-contex p{
    margin-bottom: 100px;
    color: #575757;
    text-align: left;
}
.about-contex a{
    margin-top: 50px;
}
.my-recipies{
    margin: 0 auto 100px auto;
    overflow: hidden;
} 

.my-recipie-head{
    margin-bottom: 20px !important;
}
.my-recipies h2,p{
    color: #676767;
    width: 550px;
    margin: 0 auto;
    text-align: center;
} 
.recipie-one,.recipie-two,.recipie-three{
    width: 22%;
    box-shadow: 10px 10px 30px grey;
    border-radius: 20px;
    padding: 3%;
    margin: auto;
    align-content: center;
}
.recipie-one h3,.recipie-two h3,.recipie-three h3{
    font-size: 20px;
    color: #18191F;
    font-weight: bold;
    margin-left: 20px;
}
.recipie-one p,.recipie-two p,.recipie-three p{
    margin-left: 20px;
    color:#606162;
    text-align: left;
    font-weight: 300;
    width: 300px;
}
.user-data{
    margin: 100px auto;
}
.user{
    box-shadow: 10px 10px 20px #747070;
    width: 80%;
    margin: 0 auto;
    display: flex;
    border-radius: 25px;
}
.data-one,.data-two,.data-three{
    margin: 0 auto !important;
    text-align: center;
    width: 30%;
    padding: 20px;
    
}
.data-one h2,.data-two h2,.data-three h2{
    margin: 10px;
}
.data-one p,.data-two p,.data-three p{
    width: auto;
}
.footer{
    background-color: #0B0D17;
    text-align: center;
    overflow: hidden;
    padding: 30px 0px;
}
.footer h2{
    color: #FC8545;
}
.footer-col{
    color: #575758;
}
.footer p{
    color: #fff;
    margin-bottom: 50px;
}
